#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    margin-right: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #384046;
}

#header .logo h1 a, #header .logo h1 a:hover {
    color: #384046;
    text-decoration: none;
}

#header .logo img {
    margin-right: 30px;
    max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation navbar
*/
.navbar {
    padding: 0;
    transition: all ease-in-out 3s;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    transition: all ease-in-out 3s;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #4f5a62;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
    color: #f26c4f;
}

/**
* Desktop Navigation navbar-right
*/
.navbar-right {
    padding: 0;
}

.navbar-right ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-right li {
    position: relative;
}

.navbar-right a {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #4f5a62;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar-right a i {
    font-size: 24px;
    line-height: 0;
    margin-left: 5px;
}

.navbar-right a:hover, .navbar .active, .navbar li:hover > a {
    color: #f26c4f;
}

.navbar-right .dropdown ul {
    display: block;
    position: absolute;
    right: 10px;
    top: calc(100%);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar-right .dropdown ul li {
    min-width: 200px;
}

.navbar-right .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    color: #21262a;
}

.navbar-right .dropdown ul a i {
    font-size: 12px;
}

.navbar-right .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #f26c4f;
}

.navbar-right .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

@media (max-width: 768px) {
    .navbar-right .dropdown ul {
        display: block;
        position: absolute;
        top: 40px;
        right: -40px;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
    }
    .navbar-right .dropdown:hover > ul {
        opacity: 1;
        top: 48px;
        float: right;
        right: -40px;
        visibility: visible;
    }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #384046;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.fa-bars:hover, .mobile-nav-toggle.fa-times:hover {
    color: #f26c4f;
}

.mobile-nav-toggle.fa-bars {
    color: #444444;
    width: 25px;
    z-index: 999;
    transition: all 0.4s ease;
}

.mobile-nav-toggle.fa-times {
    color: #444444;
    width: 25px;
    z-index: 999;
    transition: all 0.4s ease;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(33, 38, 42, 0.5);
    transition: all 0.3s ease-out;
    z-index: 700;
}

.navbar-mobile ul {
    padding: 10px 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    overflow-y: auto;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}



.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    min-width: 200px;
    color: #384046;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #f26c4f;
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-out;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}


.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #3498db;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

@media (max-width: 768px) {
    .navbar-mobile {
        position: fixed;
        overflow: hidden;
        top: 70px;
        right: 0;
        bottom: auto;
        left: auto;
        transition: all 0.3s ease-out;
        z-index: 700;
    }
}

.input {
    transition: 0.3s ease-out;
    opacity: 0;
    border: none;
}

.input-active {
    padding: 5px 10px;
    margin: 0 15px 0 0;
    border-radius: 999px;
    outline: none;
    border: none;
    width: 230px;
    background-color: #f1f3f5;
    transition: 0.3s ease-out;
    opacity: 1;
}

.input-deactive{
    transition: 0.3s ease-out;
    opacity: 0;
    border: none;
    display: none;
}

@media (max-width: 520px) {
    .input-active {
        position: fixed;
        transition: 0.3s ease-out;
        top: 80px;
        margin: 0 auto;
        width: calc( 100% - 30px);
        left: 0;
        right: 0;
        opacity: 1;
    }
    .input-deactive{
        transition: 0.3s ease-out;
        opacity: 0;
        top: 70px;
        border: none;
        opacity: 0;
        display: none;
    }
}

.input-active:active, .input-active:focus {
    box-shadow: 0 0 10px rgba(242, 108, 79, 0.8);
}

.accDropIcon {
    align-items: center;
    line-height: 40px;
    font-size: 24px;
    margin: 0 15px 0 0;
}

.personIcon {
    align-items: center;
    line-height: 40px;
    font-size: 24px;
    margin: 0 15px 0 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.personIcon:hover {
    color: #f26c4f;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #eae7f5;
}

.accDropBlock {
    /* justify-content: center; */
    padding: 10px 20px;
    cursor: default;
}

.text-muted {
    color: #a8a3b9 !important;
    line-height: 12px;
    font-size: 12px;
}

.accDropTitle {
    margin-top: 5px;
    color: #384046;
    line-height: 14px;
    font-size: 14px;
}

.logoutExit{
    background: rgba(33, 38, 42, 0.5);
    padding-top: calc(100vh / 2 - 150px);
}
