/**
* MyProf CSS
*/
.myProfTitle h1{
  font-size: 24px;
  color: #4f5a62;
  padding: 50px 0 0 0;
}
.add-course{
  padding: 25px;
  height: 100%;
}
.add-course-ill{
  height: 60px;
  width: 60px;
  font-size: 60px;
  margin: 50px auto 20px;
}
.add-course-text{
  font-size: 16px;
  font-weight: 600;
}
.addNewCourse{
  background: rgba(33, 38, 42, 0.5);
  padding-top: calc(100vh / 2 - 300px);
}